.vscode/launch.json
cronjob.log
state/
running/
finished/
netspace.txt
test.sh
logs/
health-check-env/
health-check-config.json
__pycache__

# Ignoring symlinks
startPlotterGradually.sh
startGUI.sh
startPlotter.sh
stopPlotter.sh
addNewFinalDirs.sh