# Chia Plotter
.vscode/
logs/
data/
chia-plotter-config.txt
test.sh

## Ignoring symlinks
/startPlotterGradually.sh
/startGUI.sh
/startPlotter.sh
/stopPlotter.sh
addNewFinalDirs.sh

# Health Check
__pycache__
.venv/
health-check-config.json
logs/
data/